.analytics {
    .inner-1 {
        display: flex;
        justify-content: space-between;
        margin-block: 1.5em;
        width: 98%;

        .x {
            align-items: center;
            background: #111;
            border-radius: 1em;
            display: flex;
            justify-content: space-around;
            padding: .5em;
            width: 20%;

            .inner {
                display: unset;
                text-align: center;

                img {
                    width: 3em;
                }

                span {
                    color: #fff;

                    &:first-of-type {
                        font-family: system-ui;
                        font-size: 2em;
                        font-weight: bold; 
                    }
                    &:last-of-type {
                        color: #ddd;
                    }
                }
            }
        }
    }

    .inner-2 {
        display: flex;
        height: 26em;
        justify-content: space-between;
        margin-block: 1em;
        width: 98%;

        h2 {
            color: #fff;
            font-family: system-ui;
            font-size: 1.55em;
            padding-bottom: .5em;
        }

        .x {
            background: #111;
            border-radius: 1em;
            padding: 1em;
            width: 32%;

            &:last-of-type {
                background: unset;
                border-radius: 1em;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: unset;

                h2 {
                    display: flex;
                    justify-content: space-between;
                    padding-top: 0.3em;

                    svg {
                        border: 1px solid;
                        padding: 0.15em;
                    }
                }

                .x-inner {
                    border-radius: 1em;
                    padding: 1em;
                    padding-bottom: 2em;
                }
            }

            .x-inner {
                background: #111;
                padding: 0.5em;

                .inner-x {
                    display: flex;
                    justify-content: space-between;

                    .x {
                    }

                    .-x {
                        color: #ddd;

                        &:last-of-type {
                            width: 50%;
                        }

                        big {
                            color: #fff;
                            font-size: 2em;
                        }
                        ul {
                            li {
                                align-items: center;
                                border-bottom: 1px solid #222;
                                display: flex;
                                justify-content: space-between;

                                .-xx {
                                    align-items: center;
                                    color: #fff;
                                    display: flex;

                                    &:last-of-type { 
                                    }
                                }
                            }
                        }
                    }
                }
                
                .info {
                    display: flex;
                    justify-content: space-around;
                    margin-top: 0.5em;

                    &-inner {
                        border-top: 1px solid #222;
                        color: #ddd;
                        font-size: 1.5em;
                        text-align: center;
    
                        span {
                            color: #ddd;
                            display: block;
                        }
                    }
                }
            }
        }
    }

    .inner-3 {
        display: flex;
        height: 26em;
        justify-content: space-between;
        margin-block: 1.5em;
        width: 98%;

        .x {
            background: #111;
            border-radius: 1em;
            padding: 1em;
            width: 24%;

            &:first-of-type {
                width: 50%;
            }

            .x-inner {
                h2 {
                    color: #fff;
                    font-family: system-ui;
                    font-size: 1.55em;
                    padding-bottom: 1em;

                    small {
                        color: #fff;
                        font-family: system-ui;
                    }
                }

                .progress {
                    background: #222;
                    display: flex;
                    height: 1.15em;
                    margin-top: 1em;
                    width: 100%;

                    .data {
                        height: 1.15em;

                        &:nth-of-type(1) {
                            background: $Color-3;
                        }
                        &:nth-of-type(2) {
                            background: $Color-4;
                        }
                        &:nth-of-type(3) {
                            background: $Color-2;
                        }
                        &:nth-of-type(4) {
                            background: $Color-1;
                        }
                    }
                }

                .x-top {
                    display: flex;
                    justify-content: space-between;

                    span,
                    strong {
                        color: #fff;
                    }

                    strong {
                        font-weight: unset;
                        margin-right: 0.5em;
                    }
                }

                .x-middle {
                    border-bottom: 1px solid #222;
                    margin-bottom: 1em;

                    .middle-x {
                        display: flex;
                        justify-content: space-between;
                        margin-block: 2.55em;
                        width: 80%;

                        &-inner {
                            color: #ddd;

                            span {
                                border-radius: 0.25em;
                                color: #ddd;
                                display: block;
                                margin-top: 0.5em;
                                padding-inline: 0.5em;

                                &.x-1 {
                                    background: $Color-1;
                                }
                                &.x-2 {
                                    background: $Color-2;
                                }
                                &.x-3 {
                                    background: $Color-3;
                                }
                                &.x-4 {
                                    background: $Color-4;
                                } 
                            }
                        }
                    }
                }
            }

            .inner-x {
                align-items: unset;
                display: flex;
                justify-content: space-between;

                .x1 {
                    width: 40%;

                    ul {
                        li {
                            align-items: center;
                            display: flex;
                            padding: 0.35em 1em;
                            justify-content: space-between;
                            margin-bottom: 0.5em;

                            &.first {
                                border: 1px solid #222;

                                .x1-inner { 
                                    span {
                                        border-radius: .5em; 
                                    }
                                }
                            } 

                            .x1-inner { 
                                align-items: center;
                                color: #ddd;
                                display: flex;

                                img {
                                    margin-right: 1em;
                                    width: 2em;
                                }

                                span {
                                    background: #222;
                                    color: #ddd;
                                    display: block;
                                    margin-right: 1em;
                                    padding: 0.5em;
                                    width: 3em;
                                    text-align: center;
                                }
                            }
                        }
                    }

                    .x1-last {
                        background: #222;
                        border-radius: 0.5em;
                        display: flex;
                        justify-content: space-between;
                        margin-bottom: 0.5em;
                        padding: 1em;

                        .last-inner {
                            color: #ddd;

                            strong {
                                color: #ddd;
                                font-family: system-ui;
                            }
                        }
                    }
                }

                .x2 {
                    width: 100%;

                    ul {
                        li {
                            border-bottom: 1px solid #222;
                        }
                    }
                }
            }
        }
    }
} 
 
// CHART 
.chart {
    display: flex;
    justify-content: space-around; 

    &-xx {
        .xx-inner {
            background-color: unset;
            border-radius: unset;
            color: #ddd !important;
            margin-block: 2em;
            padding-left: 1em;

            &.active {
                border-left: 3px solid $Color-3;
            }

            &.aggregate {
                border-left: 3px solid $Color-4;
            }

            &.inactive {
                border-left: 3px solid $Color-2;
            }

            em {
                color: #888;
            }
        }
    }

    &-inner {
        border: 1px solid #222;
        border-radius: 0.95em;
        padding-block: 0.5em;

        h3 {
            color: #ddd;
            font-family: system-ui;
            font-size: 1em;
            text-align: center;
        }
    }

    .block{
        display:block;
        position:relative;  
        text-align:center;
    }
    #val, #val2, #val3{
        display:block;
        position:absolute;
        z-index:2; 
        left:31%; 
        top:34%; 
        font-size:3em;
        color:#ddd;
    }
    #canvas, #canvas2, #canvas3{
        height: 150px;
        transform: scaleX(-1) rotate(-90deg);
        width: 100%;
    }
}
