.form { 
    display: none;
    background: rgba(0,0,0,.8);
    height: 100vh;
    position: absolute; 
    top: 0;
    width: 100vw;
    z-index: 20;

    .inner {
        background: #111;
        height: 100vh;
        overflow-y: scroll;
        padding: 1em; 
        position: fixed;
        right: 0;
        width: 60rem;
    
        button {
            &:first-of-type {
                background-color: $Color-4;
            }

            &:nth-of-type(2) {
                background-color: $Color-2;
            }
        }

        form {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            button {
                align-self: end;
                background: $Color-4;
                height: 3em; 
            }

            .new-car-inputs {
                border: 1px solid;
                margin-block: 0.5em;
                padding: 0.5em;
                width: 49%;

                &-inner {
                    align-items: center;
                    color: #fff;
                    display: flex;
                }

                input, select {
                    background: #222;
                    border: none;
                    border-radius: 0.5em;
                    color: #fff;
                    margin-left: 2.5em;
                    margin-top: 0.5em;
                    outline: none;
                    padding: 0.5em;
                    width: 90%;
                }

                select {
                    option {
                        color: #eee;
                    }
                }
            }  
        }
        
        .heading {
            align-items: center;
            display: flex;
            justify-content: space-between;
            margin-top: 3em;

            h1 {
                align-items: center;
                color: #fff;
                display: flex;
                font-family: system-ui;
            }
        }
    }
}

.readonly {
    input {
        background-color: unset !important;
        pointer-events: none;
    }
}