* {
  box-sizing: border-box;
  color: #333;
  font-family: "Kanit", sans-serif;
  font-size: small;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  word-wrap: break-word;
}

.active, .report-inner ul a li:hover {
  background: #fff;
  border-radius: 0.5rem;
  color: #333 !important;
}
.active span, .report-inner ul a li:hover span {
  background: #333 !important;
  color: #fff !important;
}
.active svg, .report-inner ul a li:hover svg {
  fill: #000;
}

.active-x,
.inactive-x,
.total-x {
  border-radius: 0.35em;
  color: #fff;
  font-size: smaller;
  padding: 0.15em 0.35em;
}

.active-x {
  background-color: #41a341;
}

.inactive-x {
  background-color: #DF2E38;
}

.total-x {
  background-color: #3034b5;
}

.alert {
  align-items: center;
  display: none;
  justify-content: center;
  position: relative;
  translate: 0 2em;
  z-index: 100;
}
.alert .inner {
  background-color: #41a341;
  border-radius: 0.5em;
  color: #fff;
  padding: 1em;
  position: absolute;
}

.arrow {
  height: 3em;
  padding: unset;
  position: absolute;
  right: 0;
  width: 3em;
}

button {
  background: #333;
  border: none;
  border-radius: 0.2em;
  color: #fff;
  cursor: pointer;
  margin-top: 1rem;
  outline: none;
  padding: 0.5rem;
}

.big-figure, .report-inner .table.list .engine-volume, .report-inner .table.list .id {
  background: #000;
  border: none;
  display: block;
  font-family: system-ui;
  font-size: 4em;
  font-weight: bold;
  text-align: center;
}

.cancel-modal {
  border-radius: 0.1em;
  color: #DF2E38;
  cursor: pointer;
  font-size: 2em;
  font-weight: bold;
  padding-inline: 0.25em;
  position: fixed;
  right: 1em;
  top: 0.5em;
  z-index: 30;
}

.edit-modal-vehicle-data .inner ul li input,
.edit-modal-vehicle-data .inner ul li select {
  border: 1px solid #c2c3ef;
  color: #3034b5;
  outline: none;
  padding-inline: 0.5em;
  width: 13em;
}

.empty-records-wrapper {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}
.empty-records-wrapper .inner {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.empty-records-wrapper .inner .empty-records {
  background-position: center !important;
  background-repeat: no-repeat !important;
  height: 24em;
  width: 50em;
}
.empty-records-wrapper .inner .empty-records-2 {
  padding: 1em;
}
.empty-records-wrapper .inner .empty-records-2 p, .empty-records-wrapper .inner .empty-records-2 strong {
  color: #eee;
  font-family: system-ui;
  font-size: 1.5em;
}
.empty-records-wrapper .inner .empty-records-2 button {
  background-color: #DF2E38;
}

.error {
  color: #DF2E38;
  text-align: center;
}
.error span {
  color: #DF2E38 !important;
  display: block;
}

.Hide {
  display: none !important;
}

.loader {
  align-items: center;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  display: none;
  height: 100vh;
  justify-content: center;
  position: absolute;
  width: 100vw;
  z-index: 2;
}
.loader .inner {
  height: 15em;
  border-radius: 50%;
  background-position: center !important;
  background-size: cover !important;
  width: 15em;
}

.modal-vehicle-data {
  align-items: center;
  background: rgba(10, 24, 76, 0.4);
  display: flex;
  display: none;
  height: 100vh;
  justify-content: center;
  position: absolute;
  width: 100vw;
  z-index: 10;
}
.modal-vehicle-data .inner {
  background: #fff;
  border-radius: 1em;
  height: 80%;
  overflow-y: scroll;
  padding: 1em;
  width: 40rem;
}
.modal-vehicle-data .inner .active-status {
  align-items: center;
  background: #FFF2CC;
  border-radius: 0.5em;
  display: flex;
  margin-block: 0.5em;
  padding: 0.5em;
}
.modal-vehicle-data .inner button.DeleteCar {
  background-color: #DF2E38;
}
.modal-vehicle-data .inner button[name=UpdateCar] {
  background-color: #3034b5;
}
.modal-vehicle-data .inner .heading {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 2em;
  padding-block: 0.5em;
}
.modal-vehicle-data .inner .heading h1 {
  align-items: center;
  border: 1px solid #c2c3ef;
  border-radius: 0.35em;
  color: #494dcf;
  display: flex;
  font-family: "Bitter", serif !important;
  font-size: 2em;
  font-style: italic;
  padding: 0.35em;
}
.modal-vehicle-data .inner h1 {
  align-items: center;
  display: flex;
  font-family: system-ui;
  justify-content: space-between;
  padding: 0.7em 0.5em;
}
.modal-vehicle-data .inner img {
  margin-right: 1em;
  width: 3rem;
}
.modal-vehicle-data .inner svg {
  fill: #111;
}
.modal-vehicle-data .inner ul li {
  align-items: center;
  border-bottom: 1px solid #d6d7f4;
  display: flex;
  justify-content: space-between;
  padding: 0.8em 0.5em;
}
.modal-vehicle-data .inner ul li span {
  color: #494dcf;
}
.modal-vehicle-data .inner ul li span:first-of-type {
  align-items: center;
  color: #9a9ce4;
  display: flex;
}

.Show {
  display: block !important;
}

svg {
  fill: #eee;
  height: 2rem;
  padding-right: 1rem;
  width: 2.5rem;
}

@media (max-width: 1400px) {
  * {
    font-size: 11px;
  }
}
@media (max-width: 1176px) {
  .empty-records-wrapper .inner {
    justify-content: center;
  }
  .empty-records-wrapper .inner .empty-records-2 p {
    font-size: unset;
  }
}
.form {
  display: none;
  background: rgba(0, 0, 0, 0.8);
  height: 100vh;
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: 20;
}
.form .inner {
  background: #111;
  height: 100vh;
  overflow-y: scroll;
  padding: 1em;
  position: fixed;
  right: 0;
  width: 60rem;
}
.form .inner button:first-of-type {
  background-color: #3034b5;
}
.form .inner button:nth-of-type(2) {
  background-color: #DF2E38;
}
.form .inner .error {
  background: #DF2E38;
  border-radius: 0.2em;
  color: #fff;
  padding: 0.3em;
  width: fit-content;
}
.form .inner form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.form .inner form button {
  align-self: end;
  background: #3034b5;
  height: 3em;
}
.form .inner form .new-car-inputs {
  border: 1px solid;
  margin-block: 0.5em;
  padding: 0.5em;
  width: 49%;
}
.form .inner form .new-car-inputs-inner {
  align-items: center;
  color: #fff;
  display: flex;
}
.form .inner form .new-car-inputs input, .form .inner form .new-car-inputs select {
  background: #222;
  border: none;
  border-radius: 0.5em;
  color: #fff;
  margin-left: 2.5em;
  margin-top: 0.5em;
  outline: none;
  padding: 0.5em;
  width: 90%;
}
.form .inner form .new-car-inputs select option {
  color: #eee;
}
.form .inner .heading {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 3em;
}
.form .inner .heading h1 {
  align-items: center;
  color: #fff;
  display: flex;
  font-family: system-ui;
  font-style: italic;
  font-size: 1.5em;
}

.readonly input {
  background-color: unset !important;
  pointer-events: none;
}

.login-wrapper {
  background-color: #000;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}
.login-wrapper .wrapper-inner {
  align-items: center;
  background: rgba(0, 0, 0, 0.1);
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}
.login-wrapper .wrapper-inner .login-inner {
  background-color: #fff;
  border-radius: 1rem;
  padding: 2rem;
  translate: 0 -4rem;
  width: 26rem;
}
.login-wrapper .wrapper-inner .login-inner .company-logo {
  text-align: center;
}
.login-wrapper .wrapper-inner .login-inner h2 {
  font-size: 3rem;
  padding-block: 1rem;
}
.login-wrapper .wrapper-inner .login-inner .login-inputs {
  padding-block: 0.5rem;
}
.login-wrapper .wrapper-inner .login-inner .login-inputs input {
  border: none;
  border-bottom: 1px solid #333;
  color: #3034b5;
  margin-block: 0.5rem;
  outline: none;
  padding-block: 0.5rem;
  width: 100%;
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}
.login-wrapper .wrapper-inner .login-inner .login-inputs input:focus {
  border-bottom: 3px solid #3034b5;
}
.login-wrapper .wrapper-inner .login-inner .login-inputs label {
  color: #3034b5;
}
.login-wrapper .wrapper-inner .login-inner p {
  text-align: right;
}

.report {
  background: #000;
  display: flex;
}
.report-data {
  width: -webkit-fill-available;
}
.report-data-heading {
  margin-left: 2rem;
}
.report-data-heading .inner {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-block: 0.5em;
}
.report-data-heading .inner button {
  background: #333;
  border-radius: 0.2rem;
  margin-right: 0.5rem;
  margin-top: unset;
}
.report-data-heading .inner button:nth-child(2) {
  background: #333;
}
.report-data-heading .inner button:nth-child(4) {
  background: #DF2E38;
}
.report-data-heading .inner h1 {
  color: #fff;
  font-family: "Bitter" !important;
  font-size: 5em;
  font-weight: unset;
  letter-spacing: 0.01em;
}
.report-data-heading .inner h1 span {
  color: #fff;
  display: block;
  font-family: system-ui;
  padding-inline: 0.5em;
  text-align: right;
}
.report-data-heading .inner h1 svg {
  fill: #333;
  height: 2rem;
  width: 4rem;
}
.report-data-heading .inner.wrapper {
  background: #000;
}
.report-data-heading .inner.wrapper .search {
  background: #111;
  margin-right: 1em;
  padding: 1em;
}
.report-data-heading .inner.wrapper .search h2 {
  color: #eee;
  font-weight: unset;
}
.report-data-heading .inner.wrapper .search input {
  background-color: #222;
  border: none;
  color: #eee;
  margin-right: 0.5em;
  outline: none;
  padding: 0.2em;
}
.report-data-heading .inner-x {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}
.report-data-heading .inner-x button {
  background: #333;
  margin-top: unset;
}
.report-data-heading .inner-x.deposit {
  background: #111;
  margin-block: 0.5rem;
  padding-block: 1rem;
  padding-left: 0.5em;
}
.report-data-heading .inner-x p {
  align-items: center;
  color: #fff;
  display: flex;
  margin-right: 1rem;
  padding: 0.5em;
}
.report-data-heading .inner-x p img {
  padding: 0.25em;
  margin-right: 0.5rem;
  width: 2rem;
}
.report-data-heading .inner-x table {
  border-collapse: collapse;
  margin-right: 1rem;
}
.report-data-heading .inner-x table td {
  text-align: center;
}
.report-data-heading .inner-x table td, .report-data-heading .inner-x table th {
  color: #eee;
}
.report-data-heading .inner-x table th {
  font-weight: unset;
  font-family: system-ui;
  padding-right: 0.5em;
}
.report-data-heading .inner-x table th svg {
  float: left;
  translate: 0.4rem -0.3rem;
}
.report-inner {
  background: rgba(0, 0, 0, 0.9);
  height: 100vh;
  overflow: hidden;
  width: 90%;
}
.report-inner .action {
  display: flex;
  justify-content: center;
}
.report-inner .action .inner {
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  margin-bottom: 0.5em;
  padding: 0.5em 0 0 0;
  width: 20rem;
}
.report-inner .action .inner button {
  background: #333;
  margin: 0 0.5em 0.5em 0;
}
.report-inner .action .inner button:last-of-type {
  background: unset;
  border: 1px solid #aaa;
  border-radius: unset;
  color: #eee;
}
.report-inner h1 {
  color: #eee;
  font-family: system-ui;
}
.report-inner-heading {
  align-items: center;
  display: flex;
  margin-top: 1rem;
  justify-content: space-between;
}
.report-inner .nav-footer {
  align-items: center;
  background: #111;
  bottom: 0;
  color: #fff;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5em;
  position: fixed;
}
.report-inner .nav-footer .inner img {
  border-radius: 0.3em;
  margin-right: 2em;
  width: 2em;
}
.report-inner .nav-footer .inner span {
  color: #fff;
}
.report-inner .sub-nav-wrapper .my-records {
  cursor: pointer;
}
.report-inner .table {
  border-collapse: collapse;
  width: 100%;
}
.report-inner .table.list .car-info .stats-heading {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.report-inner .table.list .car-info .stats-heading button {
  background-color: #3236bd;
  padding: 0 0.5em;
}
.report-inner .table.list .engine-volume {
  display: table-cell;
  font-family: system-ui;
}
.report-inner .table.list .car-info .info-inner {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.report-inner .table.list .car-info .info-inner .inner:first-of-type {
  color: #eee;
  width: 20em;
}
.report-inner .table.list .car-info .info-inner .inner:not(.report-inner .table.list .car-info .info-inner .inner:first-of-type) {
  translate: -3em;
}
.report-inner .table.list .car-info .info-inner .inner-x {
  display: flex;
  justify-content: space-between;
  padding: 0.3em;
  width: 14em;
}
.report-inner .table.list .car-info .info-inner .inner-x span:first-of-type {
  border-radius: 0.2em;
  color: #eee;
  font-family: system-ui;
  margin-right: 0.5em;
  padding-inline: 0.3em;
}
.report-inner .table.list .car-info .info-inner .inner-x span:last-of-type {
  color: #ccc;
}
.report-inner .table.list .refueling,
.report-inner .table.list .balance {
  text-align: center;
}
.report-inner .table.list td .car-info .active, .report-inner .table.list td .car-info ul a li:hover, .report-inner ul a .table.list td .car-info li:hover,
.report-inner .table.list td .car-info .inactive {
  background: #41a341;
  border-radius: 0.35em;
  color: #fff !important;
  display: inline-block;
  font-size: smaller;
  margin-block: 1em;
  padding: 0.15em 0.35em;
}
.report-inner .table.list td .car-info h1 {
  font-size: 2em;
}
.report-inner .table.list td .car-info h2 {
  border-bottom: 5px solid;
  color: #fff;
  display: inline-block;
  font-family: system-ui;
  letter-spacing: 0.1em;
  padding-block: 0.4em;
}
.report-inner .table.list td .car-info hr {
  border: 1px solid;
}
.report-inner .table.list td .car-info .inactive {
  background: #DF2E38;
}
.report-inner .table.list td .car-info .stats {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: 7em;
  overflow-y: scroll;
  padding-block: 0.5em;
  width: 40em;
}
.report-inner .table.list td .car-info .stats .inner {
  height: 3em;
  padding-inline: 0.2em;
  flex-basis: 9em;
  text-align: center;
}
.report-inner .table.list td .car-info .stats .inner h3 {
  background: #000;
  font-weight: unset;
  padding-block: 0.1em;
  font-family: system-ui;
  text-align: center;
}
.report-inner .table.list td .car-info .stats .inner h3, .report-inner .table.list td .car-info .stats .inner span {
  border-radius: 0.2em;
  color: #fff;
}
.report-inner .table.list td .car-info .stats .inner span {
  font-size: smaller;
}
.report-inner .table.list td .car-info .used-by {
  color: #fff;
  display: block;
}
.report-inner .table td {
  color: #eee !important;
}
.report-inner .table td.show-record-x-edit, .report-inner .table td.show-record-x {
  cursor: pointer;
}
.report-inner .table td.show-record-x-edit:hover, .report-inner .table td.show-record-x:hover {
  color: #333 !important;
}
.report-inner .table td,
.report-inner .table th {
  background: #111;
  border: 1px solid #000;
  color: #fff;
  padding: 0.5rem;
}
.report-inner .table th {
  font-family: system-ui;
  font-weight: unset;
}
.report-inner .table tr {
  border-bottom: 3px solid #000;
}
.report-inner .table tr.table-head {
  border: 2px solid #000;
  position: sticky;
  top: 0;
  translate: 0 -0.1rem;
}
.report-inner .table tr.table-head.filter {
  top: 2em;
}
.report-inner .table-wrapper {
  height: 60%;
  margin-left: 2rem;
  overflow-y: scroll;
  padding-bottom: 4rem;
}
.report-inner .table-wrapper nav[aria-label] {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.report-inner .table-wrapper nav[aria-label] span, .report-inner .table-wrapper nav[aria-label] div p {
  color: #fff;
}
.report-inner .table-wrapper nav[aria-label] .flex, .report-inner .table-wrapper nav[aria-label] .hidden {
  background: #111;
  padding-inline: 0.5em;
}
.report-inner .table-wrapper nav[aria-label] .flex a {
  background: #3034b5;
  border-radius: 0.2em;
  color: #fff;
  padding-inline: 0.5em;
  margin-inline: 0.24em;
}
.report-inner .table-wrapper nav[aria-label] .leading-5 {
  background: #000;
  color: #fff;
}
.report-inner .table-wrapper nav[aria-label] span[aria-current] span {
  background: #41a341;
  border-radius: 0.1em;
  margin-inline: 0.2em;
  padding-inline: 0.45em;
}
.report-inner .table-head.filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.report-inner .table-head.filter span input {
  background: #444;
  border: none;
  -webkit-text-fill-color: #ddd !important;
  margin-block: 0.1em;
  outline: none;
  padding-inline: 0.25rem;
  text-align: center;
}
.report-inner ul a li {
  align-items: center;
  color: #eee;
  display: flex;
  padding: 0.5rem;
  position: relative;
}
.report-inner ul a li span {
  background: #eee;
  border-radius: 0.15em;
  color: #333;
  margin-left: 1rem;
  padding-inline: 0.25em;
}
.report-inner ul input {
  background: #1a1a1a;
  border: none;
  border-radius: 0.5rem;
  color: #fff;
  margin-block: 1em;
  outline: none;
  padding: 0.5rem;
  width: 100%;
}
.report-inner ul input[placeholder] {
  -webkit-text-fill-color: #eee !important;
}
.report .left-nav {
  background: #0d0d0d;
  overflow-y: scroll;
  padding-inline: 0.5rem;
  width: 19rem;
}
.report .left-nav center img {
  border-radius: 0.25em;
  margin-top: 0.5em;
}
.report .left-nav .sub-nav {
  display: none;
  padding: 1em;
}

.analytics {
  margin-top: 7em;
}
.analytics .inner-1 {
  display: flex;
  justify-content: space-between;
  margin-block: 1.5em;
  width: 98%;
}
.analytics .inner-1 .x {
  align-items: center;
  background: #111;
  border-radius: 1em;
  display: flex;
  justify-content: space-around;
  padding: 0.5em;
  width: 24%;
}
.analytics .inner-1 .x .inner {
  display: unset;
  text-align: center;
}
.analytics .inner-1 .x .inner:first-of-type {
  border: 1px solid #222;
  border-radius: 0.5em;
  display: flex;
  padding-inline: 0.5em;
}
.analytics .inner-1 .x .inner img {
  width: 3em;
}
.analytics .inner-1 .x .inner span {
  color: #fff;
}
.analytics .inner-1 .x .inner span:first-of-type {
  font-family: system-ui;
  font-size: 3em;
}
.analytics .inner-1 .x .inner span:last-of-type {
  color: #ddd;
}
.analytics .inner-2 {
  display: flex;
  height: 26em;
  justify-content: space-between;
  margin-block: 1em;
  width: 98%;
}
.analytics .inner-2 h2 {
  color: #fff;
  font-family: system-ui;
  font-size: 1.55em;
  padding-bottom: 0.5em;
}
.analytics .inner-2 .x {
  background: #111;
  border-radius: 1em;
  padding: 1em;
  width: 32%;
}
.analytics .inner-2 .x:last-of-type {
  background: unset;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: unset;
}
.analytics .inner-2 .x:last-of-type h2 {
  display: flex;
  justify-content: space-between;
  padding-top: 0.3em;
}
.analytics .inner-2 .x:last-of-type h2 svg {
  border: 1px solid;
  padding: 0.15em;
}
.analytics .inner-2 .x:last-of-type .x-inner {
  border-radius: 1em;
  padding: 1em;
  padding-bottom: 2em;
}
.analytics .inner-2 .x .x-inner {
  background: #111;
  padding: 0.5em;
}
.analytics .inner-2 .x .x-inner .inner-x {
  display: flex;
  justify-content: space-between;
}
.analytics .inner-2 .x .x-inner .inner-x .-x {
  color: #ddd;
}
.analytics .inner-2 .x .x-inner .inner-x .-x:last-of-type {
  width: 50%;
}
.analytics .inner-2 .x .x-inner .inner-x .-x big {
  color: #fff;
  font-size: 2em;
}
.analytics .inner-2 .x .x-inner .inner-x .-x ul li {
  align-items: center;
  border-bottom: 1px solid #222;
  display: flex;
  justify-content: space-between;
}
.analytics .inner-2 .x .x-inner .inner-x .-x ul li .-xx {
  align-items: center;
  color: #fff;
  display: flex;
}
.analytics .inner-2 .x .x-inner .info {
  display: flex;
  justify-content: space-around;
  margin-top: 0.5em;
}
.analytics .inner-2 .x .x-inner .info-inner {
  border-top: 1px solid #222;
  color: #ddd;
  font-size: 1.5em;
  text-align: center;
}
.analytics .inner-2 .x .x-inner .info-inner span {
  color: #ddd;
  display: block;
}
.analytics .inner-3 {
  display: flex;
  height: 26em;
  justify-content: space-between;
  margin-block: 1.5em;
  width: 98%;
}
.analytics .inner-3 .x {
  background: #111;
  border-radius: 1em;
  padding: 1em;
  width: 24%;
}
.analytics .inner-3 .x:first-of-type {
  overflow-y: scroll;
  width: 50%;
}
.analytics .inner-3 .x .x-inner h2 {
  color: #fff;
  font-family: system-ui;
  font-size: 1.55em;
  padding-bottom: 1em;
}
.analytics .inner-3 .x .x-inner h2 small {
  color: #fff;
  font-family: system-ui;
}
.analytics .inner-3 .x .x-inner .progress {
  background: #222;
  display: flex;
  height: 1.15em;
  margin-top: 1em;
  width: 100%;
}
.analytics .inner-3 .x .x-inner .progress .data {
  height: 1.15em;
}
.analytics .inner-3 .x .x-inner .progress .data:nth-of-type(1) {
  background: #245953;
}
.analytics .inner-3 .x .x-inner .progress .data:nth-of-type(2) {
  background: #332;
}
.analytics .inner-3 .x .x-inner .progress .data:nth-of-type(3) {
  background: #002B5B;
}
.analytics .inner-3 .x .x-inner .progress .data:nth-of-type(4) {
  background: #393646;
}
.analytics .inner-3 .x .x-inner .x-top {
  display: flex;
  justify-content: space-between;
}
.analytics .inner-3 .x .x-inner .x-top span,
.analytics .inner-3 .x .x-inner .x-top strong {
  color: #fff;
}
.analytics .inner-3 .x .x-inner .x-top strong {
  font-weight: unset;
  margin-right: 0.5em;
}
.analytics .inner-3 .x .x-inner .x-middle {
  border-bottom: 1px solid #222;
  margin-bottom: 1em;
}
.analytics .inner-3 .x .x-inner .x-middle .middle-x {
  display: flex;
  justify-content: space-between;
  margin-block: 2.55em;
  width: 80%;
}
.analytics .inner-3 .x .x-inner .x-middle .middle-x-inner {
  color: #ddd;
  text-align: center;
}
.analytics .inner-3 .x .x-inner .x-middle .middle-x-inner span {
  border-radius: 0.25em;
  color: #ddd;
  display: block;
  margin-top: 0.5em;
  padding-inline: 0.5em;
  width: 6em;
}
.analytics .inner-3 .x .x-inner .x-middle .middle-x-inner span.x-1 {
  background: #393646;
}
.analytics .inner-3 .x .x-inner .x-middle .middle-x-inner span.x-2 {
  background: #002B5B;
}
.analytics .inner-3 .x .x-inner .x-middle .middle-x-inner span.x-3 {
  background: #245953;
}
.analytics .inner-3 .x .x-inner .x-middle .middle-x-inner span.x-4 {
  background: #332;
}
.analytics .inner-3 .x .inner-x {
  align-items: unset;
  display: flex;
  justify-content: space-between;
}
.analytics .inner-3 .x .inner-x .x1 {
  width: 40%;
}
.analytics .inner-3 .x .inner-x .x1 ul li {
  align-items: center;
  display: flex;
  padding: 0.35em 1em;
  justify-content: space-between;
  margin-bottom: 0.5em;
}
.analytics .inner-3 .x .inner-x .x1 ul li.first {
  border: 1px solid #222;
}
.analytics .inner-3 .x .inner-x .x1 ul li.first .x1-inner span {
  border-radius: 0.5em;
}
.analytics .inner-3 .x .inner-x .x1 ul li .x1-inner {
  align-items: center;
  color: #ddd;
  display: flex;
}
.analytics .inner-3 .x .inner-x .x1 ul li .x1-inner img {
  margin-right: 1em;
  width: 2em;
}
.analytics .inner-3 .x .inner-x .x1 ul li .x1-inner span {
  background: #222;
  border-radius: 0.25em;
  color: #ddd;
  display: block;
  margin-right: 1em;
  width: 4em;
  text-align: center;
}
.analytics .inner-3 .x .inner-x .x1 ul li .x1-inner strong {
  color: #555;
}
.analytics .inner-3 .x .inner-x .x1 .x1-last {
  background: #222;
  border-radius: 0.5em;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5em;
  padding: 1em;
}
.analytics .inner-3 .x .inner-x .x1 .x1-last .last-inner {
  color: #ddd;
}
.analytics .inner-3 .x .inner-x .x1 .x1-last .last-inner strong {
  color: #ddd;
  font-family: system-ui;
}
.analytics .inner-3 .x .inner-x .x1 .-x {
  color: #fff;
  margin-top: 2em;
}
.analytics .inner-3 .x .inner-x .x1 .-x big {
  color: #fff;
  font-size: 2em;
}
.analytics .inner-3 .x .inner-x .x2 {
  width: 100%;
}
.analytics .inner-3 .x .inner-x .x2 ul li {
  border-bottom: 1px solid #222;
}
.analytics .inner-4 {
  display: flex;
  height: 26em;
  justify-content: space-between;
  margin-block: 1.5em;
  width: 98%;
}
.analytics .inner-4 h2 {
  color: #fff;
  font-family: system-ui;
  font-size: 1.55em;
  padding-bottom: 1em;
}
.analytics .inner-4 h2 small {
  color: #fff;
  font-family: system-ui;
}
.analytics .inner-4 .x--inner {
  background: #111;
  border-radius: 1em;
  height: 26em;
  padding: 1em;
  width: 50%;
}
.analytics .inner-4 .x--inner:last-of-type {
  overflow-y: scroll;
  width: 49%;
}
.analytics .inner-4 .x--inner .comments-x {
  border-bottom: 1px solid #222;
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.5em;
}
.analytics .inner-4 .x--inner .comments-x .x-inner {
  color: #ddd;
  padding-right: 1.5em;
}
.analytics .inner-4 .x--inner .comments-x .x-inner-wrapper {
  display: flex;
}
.analytics .inner-4 .x--inner .comments-x .x-inner img {
  width: 2em;
  border-radius: 0.5em;
}
.analytics .inner-4 .x--inner .custom-chart .chart-label {
  color: #ddd;
}
.analytics .inner-4 .x--inner .custom-chart .chart-label:first-of-type {
  margin-right: 1em;
}
.analytics .inner-4 .x--inner .custom-chart .chart-data {
  height: 1em;
  position: relative;
}
.analytics .inner-4 .x--inner .custom-chart .chart-data .tooltip-inner {
  background: #111;
  display: none;
  border-radius: 0.5em;
  padding: 0.5em;
  margin-left: 1em;
  position: absolute;
  top: -1em;
  width: 8em;
  z-index: 10;
}
.analytics .inner-4 .x--inner .custom-chart .chart-data .tooltip-inner h3 {
  align-items: center;
  color: #ddd;
  display: flex;
  font-weight: unset;
}
.analytics .inner-4 .x--inner .custom-chart .chart-data .tooltip-inner h3 span {
  border-radius: 50%;
  display: block;
  height: 0.65em;
  margin-right: 0.5em;
  width: 0.65em;
}
.analytics .inner-4 .x--inner .custom-chart .chart-data .tooltip-inner h3 span.legend-maintenance {
  background-color: #DF2E38;
}
.analytics .inner-4 .x--inner .custom-chart .chart-data .tooltip-inner h3 span.legend-repairs {
  background-color: #3034b5;
}
.analytics .inner-4 .x--inner .custom-chart .chart-data .tooltip-inner h3 span.legend-refueling {
  background-color: #41a341;
}
.analytics .inner-4 .x--inner .custom-chart .chart-data .tooltip-inner h3 span.legend-deposits {
  background-color: #333;
}
.analytics .inner-4 .x--inner .custom-chart .chart-data .tooltip-inner h3 span.legend-total {
  background-color: #245953;
}
.analytics .inner-4 .x--inner .custom-chart .chart-data .tooltip-inner span {
  color: #ddd;
}
.analytics .inner-4 .x--inner .custom-chart .chart-data .tooltip-inner span.legend-data {
  margin-left: 1em;
}
.analytics .inner-4 .x--inner .custom-chart-inner {
  align-items: center;
  border: 1px solid #222;
  display: flex;
  margin-block: 0.5em;
  padding: 0.5em;
}
.analytics .inner-4 .x--inner .custom-chart-inner .Deposits {
  background-color: #333;
}
.analytics .inner-4 .x--inner .custom-chart-inner .Maintenance {
  background-color: #DF2E38;
}
.analytics .inner-4 .x--inner .custom-chart-inner .Refueling {
  background-color: #41a341;
}
.analytics .inner-4 .x--inner .custom-chart-inner .Repairs {
  background-color: #3034b5;
}
.analytics .inner-4 .x--inner .custom-chart-inner .Total {
  background-color: #245953;
}
.analytics .inner-4 .x--inner .chart-heading {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.analytics .inner-4 .x--inner .chart-heading .legend {
  border: 1px solid #222;
  border-radius: 0.5em;
  display: flex;
  padding: 0.25em;
}
.analytics .inner-4 .x--inner .chart-heading .legend-x {
  align-items: center;
  border: 1px solid #222;
  border-radius: 0.5em;
  color: #ddd;
  display: flex;
  margin-inline: 0.5em;
  padding-inline: 0.5em;
}
.analytics .inner-4 .x--inner .chart-heading .legend-x span {
  border-radius: 50%;
  display: block;
  height: 0.65em;
  margin-right: 0.5em;
  width: 0.65em;
}
.analytics .inner-4 .x--inner .chart-heading .legend-x span.legend-1 {
  background-color: #DF2E38;
}
.analytics .inner-4 .x--inner .chart-heading .legend-x span.legend-2 {
  background-color: #3034b5;
}
.analytics .inner-4 .x--inner .chart-heading .legend-x span.legend-3 {
  background-color: #41a341;
}
.analytics .inner-4 .x--inner .chart-heading .legend-x span.legend-4 {
  background-color: #333;
}
.analytics .inner-4 .x--inner .chart-heading .legend-x span.legend-5 {
  background-color: #245953;
}

.chart {
  display: flex;
  justify-content: space-around;
}
.chart-xx .xx-inner {
  background-color: unset;
  border-radius: unset;
  color: #ddd !important;
  margin-block: 2em;
  padding-left: 1em;
}
.chart-xx .xx-inner.active, .chart-xx .report-inner ul a li.xx-inner:hover, .report-inner ul a .chart-xx li.xx-inner:hover {
  border-left: 3px solid #41a341;
}
.chart-xx .xx-inner.aggregate {
  border-left: 3px solid #3034b5;
}
.chart-xx .xx-inner.inactive {
  border-left: 3px solid #DF2E38;
}
.chart-xx .xx-inner em {
  color: #888;
}
.chart-inner {
  border: 1px solid #222;
  border-radius: 0.95em;
  padding-block: 0.5em;
}
.chart-inner h3 {
  color: #ddd;
  font-family: system-ui;
  font-size: 1em;
  text-align: center;
}
.chart .block {
  display: block;
  position: relative;
  text-align: center;
}
.chart #val, .chart #val2, .chart #val3 {
  display: block;
  position: absolute;
  z-index: 2;
  left: 50%;
  top: 50%;
  font-size: 3em;
  color: #ddd;
  transform: translate(-50%, -50%);
}
.chart #canvas, .chart #canvas2, .chart #canvas3 {
  height: 150px;
  transform: scaleX(-1) rotate(-90deg);
  width: 100%;
}

/*# sourceMappingURL=Styles.css.map */
